<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Ye Combinator</title>
    <meta name="title" content="Ye Combinator">
    <meta name="description" content="Ye Combinator created a new model for funding up and coming artists. Twice a year we invest in a large number of creatives.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yecombinator.com/">
    <meta property="og:title" content="Ye Combinator">
    <meta property="og:description" content="Ye Combinator created a new model for funding up and coming artists. Twice a year we invest in a large number of creatives.">
    <meta property="og:image" content="<%= image_url('yecombinator.png') %>" >
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://yecombinator.com/">
    <meta name="twitter:creator" content="@0xferruccio" />
    <meta property="twitter:title" content="Ye Combinator">
    <meta property="twitter:description" content="Ye Combinator created a new model for funding up and coming artists. Twice a year we invest in a large number of creatives.">
    <meta property="twitter:image" content="<%= image_url("yecombinator.png") %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
